.services-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;

}

.services-inner{
    background: var(--bg-varient);
    border-radius: 0 0 2rem 2rem;
    border: 1px solid var(--primary);
    transition: var(--transition);
    height: fit-content;
}
.services-inner:hover{
    background: transparent;
}
.services-content{
    height: fit-content;
    padding: 1rem 2rem;
    transition: var(--transition);
}
.services-content ul{
    list-style-type: none;
}

.services-content .services-icon{
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    color:var(--primary);
}

.services-content ul li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
}



.services-header h3{
    background: var(--primary
    );
    text-align: center;
    padding: 2rem;
    border-radius: 0px 0px 2rem 2rem;
    font-weight: bolder;
    width: 100%;
}

@media screen and (max-width:1024px) {
    .services-container{
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    .services-inner{
        height: auto;
    }
}

@media screen and (max-width:600px) {
    .services-container{
        grid-template-columns: 1fr;
}
}