.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--primary);
    margin-top: 1rem;
}
.footer-logo{
    padding: 2rem 0;
    color: var(--bg-varient);
}

.footer-links  {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    color: black;

}
.footer-links li a{
    color: var(--bg-varient);
    padding: 3rem 0;
    font-weight: 500;
    font-size: 1.2rem;
}

.footer-socials {
    display: flex;
    flex-direction:row;
    gap: 2rem;
    padding: 1rem;
}
.footer-socials a{
    font-size: 2rem;
    color: var(--bg-varient);
}

.footer-socials a:hover{
    color: var(--bg-varient);
}

.footer-copy{
    margin-bottom: 6rem;
    padding-bottom: 1rem;
    color: var(--bg-varient);
    font-weight:800 ;
    font-size: 1.2rem;
}
.footer-copy::before{
    content: '';
    width:1px;
    height: 2rem;
    background:var(--primary) ;

}

@media screen and (max-width:1024px) {
    .footer-links{
        flex-direction: column;
    }
    .footer-links li a{
        padding: 5rem 0;
    }

}